table#centralna {
	margin-left: auto;
	margin-right: auto;
	color: "#FFFFFF";
				}

div#naslov {
	color: "#FFFFFF";
	font-size: 40px;
	font-weight: bold !important;
			}
body {
		font-family: Stencil Std, fantasy;
		font-size:20px;
		font-weight: bold;
		text-align: center;
		background-image: url('background.jpg');
		background-repeat: no-repeat;
        background-attachment: fixed;
        color: #FFFFFF;
	}
title#naslov {
	color: "white";
	font-size: 40px;
	font-weight: bold !important;
			}

a:link {
    color: white;
}

a:visited {
    color: white;
}
